<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.2.0" targetFramework="net35" />
  <package id="ckeditor-full" version="4.4.4" targetFramework="net35" />
  <package id="FontAwesome" version="4.2.0" targetFramework="net35" />
  <package id="jQuery" version="1.11.1" targetFramework="net35" />
  <package id="metro-bootstrap" version="3.2.0.1" targetFramework="net35" />
  <package id="TinyMCE" version="4.1.5" targetFramework="net35" />
  <package id="Twitter.Bootstrap.Less" version="3.2.0.1" targetFramework="net35" />
</packages>